body{
    background-image: url('/static/gym1.jfif');
}

form{
    margin: 10px 450px;
    padding: 20px 10px;
    background-color: rgb(236, 144, 234);
    border-radius: 25px;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 123, 0);
    font-style: oblique;
}

input{
    border-radius: 10px;
    background-color: aliceblue;
    height: 20px;
    margin-left: 30px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

h2{
    text-align: center;
}

button{
    width: 90px;
    height: 32px;
    border-radius: 20px;
    margin-left: 170px;
    text-align: center;
}

